:host {
  display: grid;
  place-items: center;
  gap: 4rem;
  width: 100%;
  max-width: 580px;
  padding: 1rem 2rem;
  border-radius: var(--radius);
  background-color: var(--light-color);
  font-size: 1.5rem;

  @media (min-width: 400px) {
    padding: 2rem 3rem;
  }
  @media (min-width: 530px) {
    padding: 2.5rem 3.5rem;
  }
}

blockquote {
  margin: 0;
  position: relative;
  text-align: center;
  font-weight: 700;
  small {
    position: absolute;
    font-size: 1rem;
    bottom: -25px;
    right: 20px;
  }
}

.quote__footer {
  display: flex;
  width: 100%;
  gap: 0.5rem;

  a {
    svg {
      width: 44px;
      height: 44px;
    }
  }

  button {
    max-height: 44px;
    margin-left: auto;
    padding: 0.625rem 1.125rem;
    border: none;
    border-radius: calc(var(--radius) / 2);
    color: var(--light-color);
  }
}
